.loader {
    border: 1px solid rgba(255, 255, 255, 0.5); /* Light grey */
    border-top-color: #000000; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left:2px;
    float:right;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
